<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Logger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "css/google.font.css"%}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>

<body>
    {% block content %}
    {% endblock %}
    
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.3.3.7.min.js" %}"></script>
    
    {% block scripts %}
    {% endblock %}
</body>

</html>