{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Logger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "css/google.font.css"%}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    {# Navigation #}
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#logger-navbar-collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/log">Logger</a>
                    </div>

                    <div class="collapse navbar-collapse" id="logger-navbar-collapse">
                        
                        <ul class="nav navbar-nav navbar-right">
                            <!-- operation Links -->
                            <li>
                                <a href="#" class="btn btn-lg" data-toggle="modal" data-target="#addLogModal" title="Add Message">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-lg" title="Refresh" onClick="refresh()">
                                    <span class="glyphicon glyphicon-refresh"></span>
                                </a>
                            </li>
                            <!-- user Links -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    {{ user.username }}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/accounts/logout">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="container-fluid">
                {# main content block #}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- addLogModal -->
    <div class="modal fade" id="addLogModal" tabindex="-1" role="dialog" aria-labelledby="addLogModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button 
                        class="close" 
                        data-dismiss="modal" 
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" 
                        id="addLogModalLabel">
                        Add Log
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="recipient" 
                                class="col-sm-2 control-label"
                                >To:</label>
                            <div class="col-sm-6 input-group">
                                <span 
                                    class="input-group-addon" 
                                    id="to_username">@</span>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="recipient" 
                                    aria-described-by="to_username" 
                                    placeholder="username"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="info">Subject:</label>
                            <div class="col-sm-6 input-group">
                                <input type="text" id="info" 
                                    class="form-control"
                                    placeholder="Subject"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" col="20" id="message" style="resize: none;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- addLogModal Ends -->
                    <img id="general-ajax-load" 
                        src="{% static "img/loading.gif" %}" 
                        style="display:none; z-index: 99999; width: 20px;"></img>
                    <button class="btn btn-default" 
                        data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" 
                        type="button" onClick="addMsg()">Add</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.3.3.7.min.js" %}"></script>
    <script type="text/javascript">
        $.ajaxSetup({
            beforeSend: function() {
                $("#general-ajax-load").fadeIn();
            },
            complete: function() {
                $("#general-ajax-load").fadeOut();
            },
            success: function() {
                $("#general-ajax-load").fadeOut();
            }
        });

        function refresh() {
            console.log("fetch all message again");
        }

        function addMsg() {
            
            var message = $("#message").val(),
                info = $("#info").val(),
                recipient = $("#recipient").val();
            $.ajax({
                url: "/log/add/",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    recipient: recipient,
                    message: message,
                    info: info
                },
                method: 'POST'
            }).done(function (response) {
                if (response.status === "success")
                    location.reload();
                else
                    alert(response.payload);
            }).fail(function (err) {
                console.error(err);
            });
        }
    </script>
</body>
</html>