{% extends 'common/bare.html' %}
{% block content %}
<style>
    .logout-container {
        border: 1px solid #eaeaea; 
        background: #fff;
        overflow: hidden;
        width: 28em;
        min-width: 300px;
        margin: 100px auto;
        position: relative;
    }

    .logout-container .header {
        height: auto;
        padding: 5px 16px;
        width: auto;
        background: #417690;
        line-height: 40px;
        color: #ffc;
        overflow: hidden;
    }
    .form-content {
        padding: 10px 20px;
    }
</style>
<div class="logout-container">
    <p class="header"> Logged Out!</p>
    <div class="form-content">
        <a href="{% url 'login' %}" >Click here to login again.</a>
    </div>
</div>
{% endblock %}