{% extends 'common/bare.html' %}
{% block content %}

<div class="login-container">
  <div> 
    {% if next %} 
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
      {% else %}
        <p class="header">Please login to see this page.</p>
      {% endif %} 
    {% endif %}

    <form method="post" class="form-content" action="{% url 'login' %}">
      {% csrf_token %}
    
      <div class="form-row">
        <label for="id_username">UserName:</label>
        <input type="text" id="id_username" name="username" required="required" class="form-input" placeholder="Username">
      </div>
    
      <div class="form-row">
        <label for="id_password">Password:</label>
        <input type="password" id="id_password" name="password" required="required" class="form-input" placeholder="Password">
      </div>
    
      <div class="submit-row">
        <input type="submit" class="submit-btn" value="login" style="float: right;"/>
        <p style="float: right; padding-right: 1em; line-height: 3em;">
          <a href="{% url 'password_reset' %}">Lost password?</a>
        </p>
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      
      <div class="register-row">
        <a class="register-modal" data-toggle="modal" data-target="#registrationModal">New User? Register</a>
      </div>
    </form>
    </div>
    
    {# Assumes you setup the password_reset view in your URLconf #}
    <div class="notification-center form-content">
      <div id="registration-msg" class="text-center">
        {% if form.errors %}
          <p class="text-danger">Incorrect credentials. Please try again.</p>
        {% endif %}
      </div>
    </div>
  </div>


  <!-- registrationModal -->
  <div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="registrationModalLabel">
            User Registration
          </h4>
        </div>
        <div class="modal-body">
          <div id="registration-fail"></div>
          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="mobile_no">Mobile No:</label>
              <div class="col-sm-6 input-group">
                <input type="text" id="mobile_no" class="form-control" placeholder="Mobile Number" />
              </div>
            </div>
            <div class="form-group">
              <label for="recipient" class="col-sm-2 control-label">Email:</label>
              <div class="col-sm-6 input-group">
                <input type="text" class="form-control" id="email" aria-described-by="to_email" placeholder="E-mail" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="password">Password:</label>
              <div class="col-sm-6 input-group">
                <input type="password" id="password" class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- registrationModal Ends -->
          <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
          <button class="btn btn-primary" type="button" onClick="registration()">Add</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
<script>
  $('#registrationModal').on('hidden.bs.modal', function (e) {
    
    $(this)
      .find("input, textarea, select")
        .val("")
        .end()
      .find("input[type=checkbox], input[type=radio]")
        .prop("checked", "")
        .end();
  });

  function registration() {
    // register the user
    var email = $("#email").val(),
      password = $("#password").val(),
      mobile = $("#mobile_no").val();

    $.ajax({
      url: "/log/registration/",
      data: {
        csrfmiddlewaretoken: "{{ csrf_token }}",
        email: email,
        password: password,
        mobile: mobile
      },
      method: "POST"
    }).done(function (response) {
      console.log(response.status)
      var payload = response.payload;
      // var payloadEle = document.createElement('p');
      if (response.status === "success") {
        // registration successful
        // redirect to home
        // payloadEle.setAttribute("class", "text-success");
        // payloadEle.innerText = payload;
        $("#registration-msg").html("<p class=\"text-success\">" + payload + "</p>");
        $("#registrationModal").modal("hide");
      } else {
        // registration failed
        // show error message on UI
        $("#registration-fail").html("<p class=\"text-danger\">" + payload + "</p>");
      }
    }).fail(function (response) {
      console.error("Registration Errored: ", response);
    })
  }
</script>
{% endblock %}