{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    {% if form.email.errors %}
    {{ form.email.errors }}
    {% endif %}
    <p>{{ form.email }}</p>
    <input type="submit" value="Reset password" />
</form>

{% endblock %}