.login-container {
    border: 1px solid #eaeaea; 
    background: #fff;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 100px auto;
    position: relative;
}

.login-container .header {
    height: auto;
    padding: 5px 16px;
    width: auto;
    background: #417690;
    line-height: 40px;
    color: #ffc;
    overflow: hidden;
}

.form-content {
    padding: 20px 20px 0;
}

.form-input {
    padding: 4px 0;
    float: left;
    width: 100%;
    border-bottom: none;
    border: 1px solid #ccc;
}

.form-row label {
    padding-right: 0.5em;
    line-height: 2em;
    font-size: 1em;
    clear: both;
    color: #333;
}

.form-row .form-input {
    clear: both;
    padding: 8px;
    width: 100%;
} 

.submit-row {
    clear: both;
    padding: 1em 0 0 9.4em;
    margin: 0;
    border: none;
    background: none;
    text-align: right;
}

.submit-btn {
    background: #79aec8;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.submit-btn:hover {
    background: #609ab6;
}
.register-row {
    clear: both;
    padding: 1em 0;
    text-align: right;
    border-top: 1px solid #eaeaea;
}
.register-modal {
    text-align: center;
    cursor: pointer;
}