{% extends 'common/layout.html' %}
{% block home_content %}
<div>
    {% if messages %}
    <table class="table table-responsive">
        <thead>
            <th>Sender</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for item in messages %}
            <tr id="item_{{ item.id }}">
                <td>{{ item.sender }}</td>
                <td>{{ item.info }}</td>
                <td>{{ item.message }}</td>
                <td>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true" style="cursor: pointer;" onClick="deleteMsg({{ item.id }})"></span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

<script type="text/javascript">
    function deleteMsg(itemId) {
        console.log(itemId);
        $.ajax({
            url: "/log/delete/",
            data: {
                msgId: itemId,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            method: 'POST'
        }).done( function(response) {
            if (response.status === "success") 
                $("#item_"+ itemId).hide();
            else
                alert(response.payload);
        }).fail( function(err) {
            console.error(err);
        })
    }
</script>
{% endblock %}